.box6
{
    
    height:5in;
    width:4in;
}
.box5
{
   
    height:5in;
    width:3in;
}
.box4
{
   
    height:1080px;
    width:1080px;
}
.box10
{
   
    height:5in;
    width:4in;
}


